.form {
    padding: 6rem;
    margin: 40px 0;
    background: #CCB6FF;
    box-shadow: 1px 0px 6px #00000070;
    border-radius: 10px;
  }
  .form__header {
    text-align: center;
  }
  input.form__input {
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    border: none;
  }
  .form-button  {
    float: right;
  }